.idea/caches/build_file_checksums.ser
.venv/
.idea/
.idea/Sprint_5.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
*.py[cod]